<style>
    form span {
        width: 100px;
    }
</style>

<div class="row my-5 justify-content-center">
    <div class="col-8 col-md-6 col-lg-5">
        <h1 class="text-center">로그인</h1>
        <div class="card p-3">
            <form name="frm">
                <div class="input-group mb-3">
                    <span class="input-group-text">이메일</span>
                    <input name="email" class="form-control" value="blue@test.com">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">비밀번호</span>
                    <input name="password" type="password" class="form-control" value="12341234">
                </div>
                <button class="btn btn-dark w-100">로그인</button>
            </form>
            <div class="text-end mt-2">
                <a href="/users/join">회원가입</a>
            </div>    
        </div>
    </div>
</div>

<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-auth.js";
    
    const auth = getAuth(app);
   
    $(frm).on("submit", function(e){
        e.preventDefault();
        
        //유효성 체크
        const email = $(frm.email).val();
        const pass = $(frm.password).val();

        if(email == ""){
            alert("이메일을 입력하세요.");
            $(frm.email).focus();
        }else if(pass == ""){
            alert("비밀번호를 입력하세요.");
            $(frm.password).focus();
        }else{
            signInWithEmailAndPassword(auth, email, pass).then(success=>{
                console.log(success);
                sessionStorage.setItem("email", email);
                sessionStorage.setItem("uid", success.user.uid);
                alert("로그인 성공");
                if(!sessionStorage.getItem("target")){
                    location.href = "/";
                }else{
                    location.href = sessionStorage.getItem("target");
                }
            }).catch(error=>{
                alert(error.message);
            });        
        }
    });
</script>